@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200') ;

.list-item img {
  text-align: center;
  width: 100px;
}

.details-button {
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  margin-top: 15px;
}

.button-add-cart {
  align-items: center;
  background-color: #5793f6;
  border-color: #5793f6;
  border-radius: 10px;
  color: #2d317f;
  cursor: pointer;
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  width: 200px;
}

.button-add-cart:hover {
  opacity: 0.8;
}

.details-button a {
  color: #2d317f;
  font-weight: 700;
  text-decoration: none;
}

.details-button a:hover {
  opacity: 0.8;
}

.card-product {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.results-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
}

.list-item {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-right: 25px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.free-shipping-message {
  background-color: greenyellow;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  padding: 2px;
  width: 150px;
}
