.brand {
  text-align: center;
}

.product-pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.details-content {
  display: flex;
  flex-wrap: wrap;
}

.evaluation-form {
  margin-left: 30px;
}

.evaluation-form input {
  background-repeat: no-repeat;
  border: 3px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 8px 0;
  margin-left: 30px;
  outline: none;
  padding: 12px 20px;
  transition: 0.5s;
  width: 20%;
}

.evaluation-form input:focus {
  border: 3px solid #5793f6;
}

.evaluation-form textarea {
  background-repeat: no-repeat;
  border: 3px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 8px 0;
  margin-left: 30px;
  outline: none;
  padding: 12px 20px;
  transition: 0.5s;
  width: 20%;
}

.evaluation-form textarea:focus {
  border: 3px solid #5793f6;
}

.button-evaluation {
  align-items: center;
  background-color: #5793f6;
  border-color: #5793f6;
  border-radius: 10px;
  color: #2d317f;
  cursor: pointer;
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  padding: 15px;
  width: 75px;
}

.button-evaluation:hover {
  opacity: 0.5;
}

.comment {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 20px;
  width: 500px;
}

.text-comment {
  background-color: #f4eeb9;
  border-radius: 15px;
  padding: 20px;
}

