.button-remove {
  align-items: center;
  background-color: rgb(198, 68, 68);
  border-color: rgb(198, 68, 68);
  border-radius: 10px;
  color: black;
  cursor: pointer;
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  width: 200px;
}

.button-remove:hover {
  opacity: 0.8;
}

.change-quantity {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}

.increase-decrease {
  background-color: #5793f6;
  border-color: #5793f6;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  width: 45px;
}

.increase-decrease:hover {
  opacity: 0.5;
}

.increase-decrease:disabled {
  cursor: default;
  opacity: 0.5;
}

.button-checkout {
  align-items: center;
  background-color: #5793f6;
  border-color: #5793f6;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  width: 200px;
}

.button-checkout:hover {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
}

.empty-cart {
  align-items: center;
  color: gray;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}
